.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}

.heading_div{
    float: none;
    background: white;
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px 5px grey;
}

.heading_div2{
    font-size: 18px;
}

.results_para_tag{
    box-shadow: 5px 5px 5px grey;
    /**/
    font-size: 20px;
}

.copy_right_footer{
    position: fixed;
    color: red;
    bottom: 0;
    width:100%;
    background-color: grey;
    line-height: 2;
    text-align: center;
}

canvas{
    border: 4px solid white;
    border-radius: 20px;
    margin-top: 150px;
    box-shadow: -5px -5px 8px rgb(32, 28, 241);
}